body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
.apps-list{
  -webkit-box-shadow: 11px 17px 45px -13px rgba(0,0,0,0.62);
  -moz-box-shadow: 11px 17px 45px -13px rgba(0,0,0,0.62);
  box-shadow: 11px 17px 45px -13px rgba(0,0,0,0.62);
  border: 3px solid #000000;
  width: 400px;
  margin-top: 3%;
}
.selected-app{
  -webkit-box-shadow: 11px 17px 45px -13px rgba(0,0,0,0.62);
  -moz-box-shadow: 11px 17px 45px -13px rgba(0,0,0,0.62);
  box-shadow: 11px 17px 45px -13px rgba(0,0,0,0.62);
  border: 1px solid #000000;
  width: 400px;
}
.headline{
  border: 1px solid #000000;
  width: 450px;
  white-space: nowrap;
  white-space: pre;
}
a {
  text-decoration: underline;
}
